# =============== #
# Unity generated #
# =============== #
Project/Temp/
Project/Obj/
Project/UnityGenerated/
Project/Library/
Project/Assets/AssetStoreTools*
Project/Logs/
Labs/Temp/
Labs/Obj/
Labs/UnityGenerated/
Labs/Library/
Labs/Assets/AssetStoreTools*
Labs/.vs/
Labs/Logs/



# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

Project/.vs/Project/v15/Server/sqlite3/storage.ide-wal
Project/.vs/
